h1 {
  color: rgb(244, 228, 255);
}

.boxStyle{
  aspect-ratio: 1 / 1;
  align-items: center ;
  font: 100% / 1.5 Raleway, sans-serif;
  background-color: rgb(198, 167, 229);;
  font-size: x-large;
}
/*-rgb(198, 167, 229);-*/
/*-linear-gradient(135deg, hsl(240, 16%, 84%), hsl(229, 5%, 42%-*/
.mainboardStyle{
  flex-direction: column;
  align-items: center;

}

.opacityStyle{
  opacity: .9;
}

.noClick {
  pointer-events: none;
}

body {
  margin: 0;
  font: 100% / 1.5 Raleway, sans-serif;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(135deg, hsl(231, 85%, 79%), hsl(231, 52%, 51%));
}

.scoreStyle{
  font: 100% / 1.5 Raleway, sans-serif;
  font-size: x-large;
}